body{
    background-color:#B5E66E;
}

footer{
    margin-top: 2.5%;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
   
}

.abt{
    background-color: white;
    max-width: 40%;
    float: left;
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 0.5%;
    
}

.abt h2{
    margin-top: 1.5%;
   text-align: center; 
}

.abt img{
    max-width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}

.contact{
    background-color: white;
    max-width: 40%;
    margin-right: 8%;
    margin-top: 5%;
    margin-left:0.5%;
}

.contact h2{
    margin-top: 1.5%;
    text-align: center;
}

.contact button{
    margin-bottom: 1.5%;
}

#helptitle{
    margin: 0.5em;
    text-align: center;
}

.article{
    background-color: white;
    width: 40%;
    float:left;
    margin-left: 8%;
    margin-top: .75%;
    margin-right: 0.5%;
    padding: 1em;
    
}
#help1{
    margin-left: 2%;
    margin-right: 2%;
    max-width: 45%;
    float: left;
}
#help2{
    margin-left: 2%;
    margin-right: 2%;
    max-width: 45%;
    float: left;
}


.resource{
    background-color: white;
    width: 40%;
    margin-right: 8%;
    margin-top: .75%;
    margin-left:0.5%;
    padding: 1em;
}

.resource a{
    color:black;
}

.resource h2{
    text-align: center;
    margin-top: 2%;
}

.resource div{
    text-align: center;
    margin-top: 5%;
    
}

#adopttitle{
    margin: 0.5em;
    text-align: center;
}

#c1{
    max-width: 45%;
    margin-left: 2.5%;
    margin-right: 2%;
    float: left;
    max-height: 20%; 
}

#c2{
    max-width: 45%;
    margin-left: 2%;
    margin-right: 2.5%;
    float: left;
    max-height: 20%;
    
}

#adoptquiz{
    margin-top: 2.5%;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
    float: left;
}


#cattitle{
    margin: 0.5em;
    text-align: center;
}

#catrow1{
    margin-top: 1.5%;

}

#catrow1 img{
    max-height: 20%;
    margin: 0 auto;
}

#catrow2{
    margin-top: 1.5%;
}

#catrow2 img{
    max-height: 20%;
    
}

#cat1{
    max-width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
}

#cat2{
    max-width: 30%;
    margin-left: 1%;
    margin-right: 2.5%;
    float: left;
}

#cat3{
    max-width: 30%;
    margin-left: 1%;
    margin-right: 2.5%;
}

#cat4{
    max-width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
}

#cat5{
    max-width: 30%;
    margin-left: 1%;
    margin-right: 2.5%;
    float: left;
}

#cat6{
    max-width: 30%;
    margin-left: 1%;
    margin-right: 2.5%;
}

#dogtitle{
    margin: 0.5em;
    text-align: center;
}

#dogrow1{
    margin-top: 1.5%;

}

#dogrow1 img{
    max-height: 20%;
    margin: 0 auto;
}

#dogrow2{
    margin-top: 1.5%;
}

#dogrow2 img{
    max-height: 20%;
    
}

#dog1{
    max-width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
}

#dog2{
    max-width: 30%;
    margin-left: 1%;
    margin-right: 2.5%;
    float: left;
}

#dog3{
    max-width: 30%;
    margin-left: 1%;
    margin-right: 2.5%;
}

#dog4{
    max-width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
}

#dog5{
    max-width: 30%;
    margin-left: 1%;
    margin-right: 2.5%;
    float: left;
}

#dog6{
    max-width: 30%;
    margin-left: 1%;
    margin-right: 2.5%;
}